#My API base template
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django App</title>
</head>
<body>
    <h1>Welcome to My Django App</h1>
    <p>This is the base page.</p>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>  
            <li><a href="{% url 'product-list' %}">Product List</a></li> 
            <li><a href="{% url 'user-register' %}">User Register</a></li>     
        </ul>
    </nav>
</body>
</html>
